.custom-green-progress .p-progressbar-value {
  background-color: var(#22c55e);
}
.custom-red-progress .p-progressbar-value {
  background-color: var(#EF1B1B);
}
.custom-yellow-progress .p-progressbar-value {
  background-color: var(#F5DD05);
}