.card-active{
    background: linear-gradient(180deg, rgba(0, 232, 50, 0.5) 0%, rgba(170, 183, 191, 0.2) 100%);
}

.card-expired{
    background: linear-gradient(180deg, rgba(239, 27, 27, 0.5) 0%, rgba(170, 183, 191, 0.2) 100%);

}
.gradient-border--active{
    --gradient-border-color:linear-gradient(159.92deg, #FFF3DA 10.8%, #18A35E 89.2%);
}
.active-badge{
    background: linear-gradient(174.78deg, #22F73C 4.16%, #0E5216 95.84%);
}

.bg-secret-key{
    background: linear-gradient(180deg, rgba(170, 183, 191, 0.2) 0%, rgba(0, 232, 59, 0.5) 100%);
}
.gradient-border--green{
     --gradient-border-color : linear-gradient(159.92deg, #18A35E 10.8%, #D9D9D9 89.2%);
}