<!-- Passkey Cards Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4! pt-6!">
  @for (passkey of passkeys; track $index) {
    <div
      class="card-active w-full min-h-100 gradient-border gradient-border--active relative overflow-hidden flex flex-col justify-between"
    >
      <img
        class="w-full h-full absolute top-0 left-0 z-0 pointer-events-none object-cover"
        src="images/credentials/credentials-card-overlay.svg"
        aria-hidden="true"
      />

      <img
        class="relative z-20 mx-auto mt-15 w-40 pointer-events-none"
        src="images/credentials/active-passkey.svg"
        aria-hidden="true"
      />

      <div class="relative z-30 flex flex-col items-center px-4 pb-4 gap-3">
        <!-- Active Badge -->
        <div
          class="active-badge flex items-center gap-2 text-(---color-text) text-sm font-semibold mb-6 px-5 py-1 rounded-full"
        >
          <img src="images/icons/check-circle.svg" class="w-5 h-5" aria-hidden="true" />
          <span class="font-medium text-lg text-(--color-text)">Active</span>
        </div>

        <!-- Secret Key Row -->
        <div
          class="bg-secret-key w-full flex items-center justify-between gradient-border .gradient-border--green rounded-xl px-4 py-3"
        >
          <span class="text-(--color-text) font-bold text-base tracking-wide">{{
            passkey.secKey
          }}</span>
          <!-- Copy Button -->
          <button
            class="bg-[rgba(170,183,191,0.4)] hover:bg-white/30 transition p-2 rounded-full cursor-pointer"
          >
            <img src="images/icons/copy.svg" class="w-4 h-4" alt="copy" />
          </button>
        </div>

        <!-- Issued & Valid Until -->
        <div
          class="w-full flex flex-col bg-[rgba(170,183,191,0.4)] gradient-border gradient-border--green rounded-xl px-4 py-3 gap-2"
        >
          <div class="flex justify-between items-center">
            <span class="text-(--color-text) text-sm">Issued</span>
            <span class="text-(--color-text) text-sm font-medium">{{ passkey.issued }}</span>
          </div>
          <!-- Divider -->
          <div class="w-full h-px bg-[rgba(255,255,255,1)]"></div>
          <div class="flex justify-between items-center">
            <span class="text-(--color-text) text-sm">Valid Until</span>
            <!-- Green for active expiry date -->
            <span class="text-[rgba(17,211,13,0.8)] text-sm font-medium">{{ passkey.expiry }}</span>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- Empty State -->
  @if (passkeys.length === 0) {
    <div class="flex flex-col justify-center items-center gap-3 py-4">
      <!--Image-->
      <div class="emptystate-image">
        <img src="images/empty-state.svg" alt="empty" />
      </div>
      <!--Title / SubTitle-->
      <div class="title-subtitle flex flex-col justify-center items-center gap-2">
        <h2 class="font-semibold text-2xl text-center text-(--color-text)">No Passkey Yet</h2>
        <span class="font-normal text-base text-center text-(--color-text)"
          >You can check back after you’ve completed the official exam.</span
        >
      </div>
    </div>
  }
</div>
