<div class="w-full flex flex-col px-6! py-10!">
  <!--BreadCrumbs-->
  <nav aria-label="breadcrumb">
    <ol class="flex items-center gap-0.5 text-sm">
      <li>
        <a href="#" class="font-normal text-start text-base text-(--color-text)"> Course </a>
      </li>
      <li class="font-normal text-start text-base text-(--color-text)">></li>
      <li>
        <a href="#" class="font-normal text-start text-base text-(--color-text)">
          Course Details
        </a>
      </li>
    </ol>
  </nav>

  <!--Image & Price Details-->
  <div
    class="image-price w-full grid grid-cols-1 lg:grid-cols-[2fr_1fr] justify-between items-stretch gap-4! py-2!"
  >
    <!-- Image - takes 2/3 of the width -->
    <div class="img min-h-100 min-w-200 gradient-border gradient-border--light rounded-md!">
      <img
        class="w-full h-full object-cover rounded-md!"
        src="images/courses/course.png"
        alt="course"
      />
    </div>
    <!-- Price - takes 1/3 of the width  -->
    <div
      class="price-details [background:var(--color-card-wrapper)] gradient-border gradient-border--light p-4!"
    >
      <!--course num & pricing-->
      <div class="number-pricing flex justify-between items-center">
        <div
          class="number flex justify-between items-center gap-0.5! border border(--color-primary) rounded-lg px-1! [background:rgba(170,183,191,0.25)]"
        >
          <img src="images/icons/price.svg" alt="price" />
          <span class="px-1! py-1! font-normal text-start text-base text-(--color-text)"
            >₦4,000</span
          >
        </div>

        <div
          class="pricing flex justify-between items-center gap-0.5! border border(--color-primary) rounded-full px-1! [background:rgba(170,183,191,0.25)]"
        >
          <img src="images/icons/lock.svg" alt="lock" />
          <span class="px-1! py-1! font-normal text-center text-sm text-(--color-text)"
            >Locked</span
          >
        </div>
      </div>

      <h4 class="font-normal text-start text-sm text-(--color-text) py-1!">
        Includes lifetime access & Official Practice Exams
      </h4>

      <!--Benefits-->
      <div class="benefits flex flex-col justify-between py-1!">
        <!--Duration & time-->
        <div class="duration-time flex justify-between items-center py-1!">
          <div class="number flex justify-between items-center gap-0.5!">
            <img src="images/icons/duration.svg" alt="duration" />
            <span class="px-1! font-normal text-start text-sm text-(--color-text)">Duration</span>
          </div>
          <div
            class="time flex justify-between items-center gap-1! border border(--color-primary) rounded-full [background:rgba(170,183,191,0.25)]"
          >
            <img src="" alt="" />
            <span class="px-2! py-1! font-normal text-center text-xs text-(--color-text)"
              >2.5 Hrs</span
            >
          </div>
        </div>

        <!--format -->
        <div
          class="format flex justify-between items-center border-t border-(--color-primary) py-1!"
        >
          <div class="number flex justify-between items-center gap-0.5!">
            <img src="images/icons/zip.svg" alt="zip" />
            <span class="px-1! font-normal text-start text-sm text-(--color-text)">Format</span>
          </div>
          <div
            class="format-cat flex justify-between items-center gap-1! border border(--color-primary) rounded-full [background:rgba(170,183,191,0.25)]"
          >
            <img src="" alt="" />
            <span class="px-2! py-1! font-normal text-center text-xs text-(--color-text)"
              >Video, AR, Quiz</span
            >
          </div>
        </div>

        <!--Modules -->
        <div
          class="modules flex justify-between items-center border-t border-(--color-primary) py-1!"
        >
          <div class="modules flex justify-between items-center gap-0.5!">
            <img src="images/icons/modules.svg" alt="modules" />
            <span class="px-1! font-normal text-start text-sm text-(--color-text)">Modules</span>
          </div>
          <div
            class="modules-chap flex justify-between items-center gap-1! border border(--color-primary) rounded-full [background:rgba(170,183,191,0.25)]"
          >
            <img src="" alt="" />
            <span class="px-2! py-1! font-normal text-center text-xs text-(--color-text)"
              >4 Chapters</span
            >
          </div>
        </div>

        <!--certificate-->
        <div
          class="certificate flex justify-between items-center border-t border-(--color-primary) py-1!"
        >
          <div class="certificate flex justify-between items-center gap-0.5!">
            <img src="images/icons/certificate.svg" alt="certificate" />
            <span class="px-1! font-normal text-start text-sm text-(--color-text)"
              >Certificate</span
            >
          </div>
          <div
            class="certificate-yes flex justify-between items-center gap-1! border border(--color-primary) rounded-full [background:rgba(170,183,191,0.25)]"
          >
            <img src="" alt="" />
            <span class="px-2! py-1! font-normal text-center text-xs text-(--color-text)">Yes</span>
          </div>
        </div>

        <button class="btn btn__light mt-3!" (click)="showPayment=true">Enroll Now</button>
      </div>

      <!--Section 2-->
      <div class="learning flex flex-col justify-between gap-1! py-1!">
        <h2 class="font-semibold text-start text-base text-(--color-text)">What you will learn</h2>
        <div class="learn1 flex flex-row gap-1!">
          <img src="images/icons/double-tick.svg" alt="double-tick" />
          <span class="font-normal text-start text-xs text-(--color-text)"
            >Interpret all regulatory, warning, and info signs.</span
          >
        </div>
        <div class="learn2 flex flex-row gap-1!">
          <img src="images/icons/double-tick.svg" alt="double-tick" />
          <span class="font-normal text-start text-xs text-(--color-text)"
            >Navigate roundabouts using 3D simulations.</span
          >
        </div>
        <div class="learn3 flex flex-row gap-1!">
          <img src="images/icons/double-tick.svg" alt="double-tick" />
          <span class="font-normal text-start text-xs text-(--color-text)"
            >Understand LASTMA fines and traffic offenses.</span
          >
        </div>
        <div class="learn14 flex flex-row gap-1!">
          <img src="images/icons/double-tick.svg" alt="double-tick" />
          <span class="font-normal text-start text-xs text-(--color-text)"
            >Identify correct lane usage on expressways.</span
          >
        </div>
      </div>

      <!--Requirement list-->
      <div class="requirements flex flex-col justify-between gap-1!">
        <h2 class="font-semibold text-start text-base text-(--color-text)">Requirements</h2>
        <ul class="list-disc pl-4!">
          <li class="font-normal text-start text-xs text-(--color-text)">
            No prior driving experience needed.
          </li>
          <li class="font-normal text-start text-xs text-(--color-text)">
            Interpret all regulatory, warning, and info signs.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Course Detail Hero -->
  <div class="relative overflow-hidden py-3!">
    <h1 class="font-semibold text-start text-lg text-(--color-text)">
      Lagos Traffic Laws &amp; Highway Code
    </h1>
    <p class="font-normal text-start text-sm text-(--color-text)">
      Master the rules of the road specific to Lagos State. This course covers everything from basic
      road signs to complex right-of-way scenarios using interactive AR simulations.
    </p>
  </div>

  <!--  Course Overview Header  -->
  <div class="flex items-center justify-between py-3! gap-2!">
    <span class="font-semibold text-start text-lg text-(--color-text)">Course Overview</span>
    <button
      class="flex items-center gap-1 font-normal text-start text-sm text-(--color-text) bg-transparent border-0 cursor-pointer p-0 hover:opacity-70 transition-opacity"
    >
      Expand All
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          d="M4 6l4 4 4-4"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>

  <div class="flex items-center gap-4 flex-wrap border-b border-(--color-primary)">
    <span class="flex items-center gap-2! font-normal text-start text-sm text-(--color-primary)">
      <img class="w-4 h-4" src="images/icons/course.svg" alt="course" />
      4 Courses
    </span>
    <span class="flex items-center gap-2! font-normal text-start text-sm text-(--color-primary)">
      <img class="w-4 h-4" src="images/icons/assessment.svg" alt="assesment" />
      4 Assessments
    </span>
    <span
      class="flex items-center gap-2! font-normal text-start text-sm text-(--color-primary) pb-1!"
    >
      <img class="w-4 h-4" src="images/icons/cert-badge.svg" alt="cert-badge" />
      Badge of Completion
    </span>
  </div>

  <!--  Chapter List  -->
  <div class="flex flex-col justify-between gap-2! py-3!">
    <!-- Ch 1 -->
    <div class="flex flex-col justify-between items-start gap-3!">
      <p class="font-normal text-start text-sm text-(--color-text) tracking-wide">Chapter 1</p>
      <div class="w-full flex flex-row items-center justify-between flex-wrap">
        <span class="font-semibold text-start text-lg text-(--color-text) tracking-wide"
          >Core Principles (Theory)</span
        >

        <div class="flex items-center gap-2 shrink-0">
          <div class="w-40 h-1.5 bg-white/20 rounded-full overflow-hidden">
            <div class="h-full bg-(--color-primary) rounded-full" style="width: 0%"></div>
          </div>
          <span class="text-[0.62rem] text-app-text/45 whitespace-nowrap">0% Complete</span>
        </div>
      </div>

      <p class="font-normal text-start text-xs text-(--color-text) tracking-wide">
        Typography is an essential aspect of UX design, used in branding, copywriting, and UX
        writing. In this Typography course, you'll learn the history, concepts, and best practices
        of working with typography in UX design. You'll start by understanding the fundamentals of
        typography, including the anatomy of letterforms, typefaces, point sizes, line lengths,
        line-spacing, and…
      </p>
      <!--Empty-->
      <div class="empty w-full h-px bg-white/50"></div>
      <!--Buttons-->
      <div class="flex flex-row justify-between gap-2! py-2!">
        <button [routerLink]="['/courses/chapter-detail']"
          class="btn btn__light w-40! rounded-full! font-normal text-center text-xs text-(--color-text) tracking-wide"
        >
          Start Learning
        </button>
        <button
          class="btn btn__glass w-40! rounded-full! font-normal text-center text-xs text-(--color-text) tracking-wide"
        >
          Take Assessment
        </button>
      </div>
    </div>

    <!--  CBT Banner  -->
    <div
      class="w-full flex items-center justify-between gap-4! p-4! [background:var(--color-card-wrapper)] gradient-border gradient-border--light my-2!"
    >
      <div class="flex flex-col justify-between gap-2!">
        <h3 class="font-semibold text-start text-lg text-(--color-text) tracking-wide">
          Take your Drivers license CBT Mock test
        </h3>
        <p class="font-normal text-start text-sm text-(--color-text) tracking-wide">
          Sit the official FRSC Computer-Based Mock examination entirely online, on your own
          schedule, and take the exam right here on the platform.
        </p>
        <button class="w-50! btn btn__glass">
          Start Mock CBT Test
          <svg width="12" height="12" viewBox="0 0 16 16" fill="none">
            <path
              d="M3 8h10M9 4l4 4-4 4"
              stroke="currentColor"
              stroke-width="1.8"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <!-- illustration -->
      <div class="shrink-0 w-25 h-21 rounded-sm flex items-center justify-center relative z-10">
        <svg width="56" height="56" viewBox="0 0 56 56" fill="none">
          <rect x="8" y="14" width="32" height="22" rx="3" stroke="#34d399" stroke-width="1.5" />
          <path d="M20 36v6M16 42h16" stroke="#34d399" stroke-width="1.5" stroke-linecap="round" />
          <rect
            x="12"
            y="18"
            width="24"
            height="14"
            rx="2"
            fill="rgba(52,211,153,0.1)"
            stroke="rgba(52,211,153,0.3)"
            stroke-width="1"
          />
          <circle
            cx="42"
            cy="16"
            r="7"
            fill="rgba(52,211,153,0.12)"
            stroke="#34d399"
            stroke-width="1.4"
          />
          <path
            d="M39 16l2 2 4-4"
            stroke="#34d399"
            stroke-width="1.4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>

  <!--Other Courses-->
  <div class="other-courses flex flex-col justify-between items-start gap-2! py-3!">
    <h2 class="font-semibold text-start text-lg text-(--color-text) tracking-wide">
      Other Courses
    </h2>
    <!-- Course Cards grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4!">
      <div
        *ngFor="let c of courses"
        class="relative flex flex-col rounded-xl! overflow-hidden [background:var(--color-card-wrapper)] gradient-border gradient-border--light transition-transform duration-200 hover:-translate-y-0.5 cursor-pointer p-2!"
      >
        <!-- Image -->
        <div class="relative h-40 overflow-hidden">
          <img
            [src]="c.imageUrl"
            [alt]="c.title"
            class="w-full h-full object-cover transition-transform duration-500 hover:scale-105 rounded-lg"
            loading="lazy"
            onerror="this.src = ''"
          />
        </div>

        <!-- Body -->
        <div class="flex flex-col flex-1 p-4! gap-1!">
          <!-- Title -->
          <h3 class="font-semibold text-base text-start text-(--color-text) leading-snug mt-1!">
            {{ c.title }}
          </h3>

          <!-- subtitle -->
          <p class="text-xs text-start text-(--color-text) opacity-70 leading-relaxed mt-1! flex-1">
            {{ c.subtitle }}
          </p>

          <button
            class="btn btn__glass w-24! mt-3! self-start transition-colors duration-150 cursor-pointer shadow-none! rounded-md!"
          >
            Read Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


@if (showPayment) {
  <app-payment-dialog (onClose)="showPayment=false" ></app-payment-dialog>
}