<div class="dashboard flex flex-col px-6! py-10!">
  <!--Greetings-->
  <div class="greetings flex flex-col justify-between items-start gap-1">
    <div class="name flex gap-2!">
      <h2 class="font-semibold text-start text-2xl text-(--color-text)">Hello, Temidayo</h2>
      <img src="images/greetings.svg" alt="greeting" />
    </div>
    <span class="font-normal text-start text-base text-(--color-text)"
      >Dive back into learning, Here's a list of guided resources tailored just for you</span
    >
  </div>

  <!--Dashboard banner-->
  <!--Slider Wrapper-->
  <div class="[background:var(--color-card-wrapper)] rounded-2xl! p-3! my-2!">
    <div class="flex flex-row gap-3 overflow-x-auto">
      <div
        *ngFor="let card of cards"
        class="relative rounded-xl isolate min-w-52 w-55 min-h-42.5 h-44 overflow-hidden shrink-0 flex flex-col justify-between"
        [ngStyle]="{ background: card.bgGradient }"
      >
        <img
          [src]="card.cardImage"
          alt=""
          class="absolute inset-0 w-full h-full object-cover pointer-events-none scale-[1.01]"
        />
        <div class="relative z-10 flex flex-col justify-between h-full p-3!">
          <h3 class="font-semibold text-base text-(--color-text) line-clamp-3 w-3/4">
            {{ card.title }}
          </h3>
          <button
            class="self-start px-3! py-1.5! rounded-lg bg-black/15 text-(--color-text) text-[8px] hover:bg-black/30 transition-colors duration-300 border-0 cursor-pointer"
          >
            {{ card.ctaText }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Progress Track-->
  <div class="track-progress flex flex-col justify-between gap-2!">
    <!--Heading-->
    <div class="progress flex flex-row justify-between items-center py-3!">
      <h2 class="font-semibold text-start text-2xl text-(--color-text)">
        Here's your progress track
      </h2>
      <div class="streak flex flex-row items-center gap-1!">
        <span class="font-normal text-start text-base text-(--color-primary)"
          >7 Day <span class="text-(--color-text)">Streak</span></span
        >
        <img src="images/dashboard/fire.svg" alt="fire emoji" />
      </div>
    </div>

    <!--Progress bar-->
    <div class="progressbar w-full rounded-xl p-3! [background:var(--color-card-wrapper)]">
      <!--Bar Heading-->
      <div class="bar-heading flex flex-row justify-between text-(--color-text) mb-2!">
        <span class="font-normal text-start text-base text-(--color-text)"
          >{{ runningCourses() }} Courses</span
        >
        <span class="font-normal text-start text-base text-(--color-text)"
          >{{ progress() }}% of <span class="text-(--color-primary)">{{ total() }}</span></span
        >
      </div>
      <!--Bar Fill-->
      <div class="bar w-full h-2 bg-white/20 rounded-full overflow-hidden">
        <div
          class="h-full rounded-full transition-all duration-500 ease-out bg-(--color-primary)"
          [ngStyle]="{ width: (progress() / total()) * 100 + '%' }"
        ></div>
      </div>
    </div>

    <div
      class="course-progress-wrapper w-full flex flex-row justify-between items-stretch gap-4! py-4!"
    >

      <!--Left Column — Explore & Modules-->
      <div class="explore-modules w-1/2 flex flex-col justify-between items-center gap-4!">

        <!--Explore -->
        <div
          class="explore w-full flex flex-row justify-between items-center px-4! py-2! [background:var(--color-nav-bg)] rounded-full"
        >
          <div class="heading flex items-center gap-3!">
            <div class="img [background:var(--color-card-wrapper)] p-1.5! rounded-full">
              <img src="images/dashboard/explore.svg" alt="explore" />
            </div>
            <h2 class="font-semibold text-start text-2xl text-(--color-text)">
              Explore Lagos Driving Aid
            </h2>
          </div>
          <div class="link font-normal text-start text-base text-(--color-primary) hover:underline">
            <a href="">View More</a>
          </div>
        </div>

        <div
          class="modules flex-1 w-full flex flex-col justify-between items-center gap-3! p-3! [background:var(--color-card-wrapper)] gradient-border gradient-border--light rounded-lg!"
        >
          <div
            *ngFor="let module of modules"
            class="relative flex flex-col gap-4 p-5! [background:var(--color-card-wrapper)] gradient-border gradient-border--light rounded-xl! transition-transform duration-200 hover:-translate-y-0.5"
          >
            <div class="flex items-start gap-4">
              <!-- Icon box -->
              <div
                class="shrink-0 flex items-center justify-center w-14 h-14 rounded-xl [background:var(--color-nav-bg)]"
                [innerHTML]="module.svgIcon"
              ></div>

              <!-- Title & Subtitle -->
              <div class="flex-1 min-w-0">
                <h3 class="font-semibold text-start text-lg text-(--color-text)">
                  {{ module.title }}
                </h3>
                <p class="font-normal text-start text-xs text-(--color-text) mt-1!">
                  {{ module.subtitle }}
                </p>
              </div>

              <!-- Progress -->
              <div class="shrink-0 self-start relative w-13 h-13">
                <round-progress
                  [current]="module.currentProgress"
                  [max]="100"
                  [color]="'var(--color-primary)'"
                  [background]="'rgba(255,255,255,0.15)'"
                  [radius]="22"
                  [stroke]="4"
                  [semicircle]="false"
                  [rounded]="true"
                  [clockwise]="true"
                  [duration]="800"
                  [animation]="'easeInOutQuart'"
                  class="block w-full h-full"
                />
                <span
                  class="absolute inset-0 flex items-center justify-center text-[10px] font-medium text-white leading-none"
                >
                  {{ module.currentProgress }}%
                </span>
              </div>
            </div>

            <!-- Button -->
            <button
              class="w-full btn btn__light transition-colors duration-150 cursor-pointer shadow-none! rounded-md!"
            >
              {{ module.buttonLabel }}
            </button>
          </div>
        </div>
      </div>

      <!--Right Column — Performance & Assessment-->
      <div class="performance-assessment w-1/2 flex flex-col justify-between items-center gap-4!">

        <!--Performance -->
        <div
          class="performance w-full flex flex-row justify-between items-center px-4! py-2! [background:var(--color-nav-bg)] rounded-full"
        >
          <div class="heading flex items-center gap-3!">
            <div class="img [background:var(--color-card-wrapper)] p-1.5! rounded-full">
              <img src="images/dashboard/performance.svg" alt="performance" />
            </div>
            <h2 class="font-semibold text-start text-2xl text-(--color-text)">Performance</h2>
          </div>
          <div class="link"></div>
        </div>

        <div
          class="assessment flex-1 w-full flex flex-col justify-center items-center gap-3! p-3! [background:var(--color-card-wrapper)] rounded-lg! gradient-border border-dashed! gradient-border--light"
        >
          <!-- Empty state -->
          <div class="image">
            <img src="images/dashboard/no-assessment.svg" alt="no-assessment" />
          </div>
          <!--Empty state title & subtitle-->
          <div class="title-subtitle flex flex-col justify-between items-center gap-1">
            <h2 class="font-semibold text-start text-xl text-(--color-text)">
              No Assessment Taken Yet
            </h2>
            <span class="font-normal text-start text-base text-(--color-text)"
              >You can check back after you have completed the mock assessment.</span
            >
          </div>
        </div>

      </div>
    </div>


  </div>


</div>