@use './styles/themes';
@use './styles/global';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

html,
body {
  min-height: 100%;
  background-image:
    var(--color-overlay-gradient-bg),
    var(--bg-primary);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Works in Chrome, Edge, Safari
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 999px;
  opacity: 0.5;

  &:hover {
    background: var(--color-primary-hover);
  }
}

// Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

/* PRIME DIALOG RESET */
.dialog-box.p-dialog {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.dialog-box .p-dialog-header {
  display: none !important;
}

.dialog-box .p-dialog-content {
  background: transparent !important;
  padding: 0 !important;
  overflow: visible !important;
}

.dialog-box .p-dialog-footer {
  display: none !important;
}